@model List<SchedulerV3.Models.Tournament>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tournaments</h2>
<a href='@Url.Action("Create", "Tournament")'>
    <button class="btn btn-primary" type="button">Create New Tournament</button>
</a>

<table class="table table-hover" id="classesTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Delete</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var tournament in Model)
        {
            //var Id = customer.Id;
        <tr>
            @{
                //<td><a href="/Customers/Details/@Id">@customer.Name</a></td>
            }
            <td>@Html.ActionLink(tournament.Name, "Edit", "Tournament", new { id = tournament.Id }, new { @class = "" })</td>
            <td>@tournament.StartDate</td>
            <td>@tournament.EndDate</td>
            <td>
                <button>
                    <span data-tournament-Id="@tournament.Id" class="glyphicon glyphicon-trash js-delete" aria-hidden="true"></span>

                </button>

            </td>
        </tr>

        }
    </tbody>
</table>

@section scripts
        {
    <script>
            $(document).ready(function () {
                $("#classesTable .js-delete").on("click", function () {
                    if (confirm("Are you sure you want to delete this class")) {
                        $.ajax({
                            url: "/Api/Tournaments/" + $(this).attr("data-tournament-Id"),
                            method: "DELETE",
                            success: function () {
                                console.log("Success");
                            }
                        });
                    }
                });
            });


    </script>


}
